<!DOCTYPE html>

<html>

<body style = "background-color: #fff">
    <br>
    <h1 style = "background-color: #fff;
                 color: #1F3D5C;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 3em;
                 font-weight: 100">
                 Your Schedule Has Been Cleared
    </h1>
    <h2 style = "background-color: #fff;
    			 color: #1F3D5C;
    			 text-align: center;
    			 font-family: Helvetica Neue;
    			 font-size: 1.5em;
    			 font-weight: 100">
    			 <a href="/"> Return To powerplan Homepage</a>
    </h2>
<div style = "background-color: #fff;
              background-image: url(http://campusinvolvement.umich.edu/files/campusinvolvement/field/image/Festifall2010%2822%29.JPG);
              background-position: center;
              background-size: cover;
              opacity: 0.5">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

</body>

</html> 