{% extends "base.html" %}

{% block content %}

<body style = "background-color: #fff">
    <br>
    <h1 style = "background-color: #fff;
                 color: #1F3D5C;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 2.5em;
                 font-weight: 100;
                 margin-left: 15px">
                 Oops! There has been an error<br>
    </h1>

    <h2 style = "background-color: #fff;
                 color: #1F3D5C;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 1.5em;
                 font-weight: 100;
                 margin-left: 15px">
                 <a href="{{returnUrl}}"> Go Back </a> </a>
    </h2>

<br>

<div style = "text-align: center">
<img src="http://i0.kym-cdn.com/photos/images/newsfeed/000/173/576/Wat8.jpg?1315930535">
</div>



</body>

{% endblock %}
