{% extends "base.html" %}

{% block content %}

  <head>
    <title>powerplan select a term</title>
    <meta charset="UTF-8">

    <style type="text/css">
    .tst1 {padding: 10px; margin:1; text-align: center; font-family: Lucida Grande}
    </style>
  </head>

<body style = "background-color: #fff">
    <br>
    <h1 style = "background-color: #fff;
                 color: #1F3D5C;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 3em;
                 font-weight: 100">
                 welcome {{UserName}}!
    </h1>
<div style = "background-color: #fff;
              background-image: url(http://studentlife.umich.edu/files/sa/field/image/WtrCampusHousing%28060%29.JPG);
              background-position: center;
              background-size: cover;
              opacity: 0.5">
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div style = "position: relative;
              margin-top: -425px">
    <h3 style = "color: #1F3D5C;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 1.5em;
                 font-weight: 200">
                 <br><br>
                 Please Select A Term
    </h3>

    <p class="tst1">
        <select id="select">
        <option selected disabled value ='' >Select Term</option>

    {% for term in terms %}
        <option value = "/terms/term_code={{ term['TermCode'] }}"> {{ term['TermDescr'] }}</option>
    {% endfor %}    

        </select> 
    </p>
</div>


    <footer style = "color: #1F3D5C;
                   text-align: bottom;
                   font-family: Helvetica Neue;
                   font-size: 1.5em;
                   font-weight: 200;
                   margin-left: 15px;
                   position: absolute;
                   bottom: 20px;">
                     &copy sync 2015 

      </footer>




</body>

<script>

    document.getElementById("select").onchange = function() {

        if (this.selectedIndex!==0) {

            window.location.href = this.value;

        }

    };

</script>

</div>

{% endblock %}


