<html>

  <head>
    <title>powerplan by sync</title>
    <meta charset="UTF-8">

    <style type="text/css">
    .tst1 {padding: 10px; margin:1; text-align: center; font-family: Lucida Grande}

    </style>
  </head>


  <body style = "background-color: #1F3D5C">
      <br>
      <h1 style = "background-color: #1F3D5C;
                   color: white;
                   text-align: center;
                   font-family: Helvetica Neue;
                   font-size: 4.5em;
                   font-weight: 100">
                   powerplan by sync
      </h1>

<div style = "background-color: #fff;
              margin: 0px">
      <h2 style = "background-color: #fff;
                   color: #1F3D5C;
                   text-align: center;
                   font-family: Helvetica Neue;
                   font-size: 2em;
                   font-weight: 100">
                   <br>A Convenient Method Of Scheduling Classes<br>For The Sensible Wolverine
                   <br><br>
      </h2>

      <h3 style = "background-color: #fff;
                   color: #1F3D5C;
                   text-align: center;
                   font-family: Helvetica Neue;
                   font-size: 1.5em;
                   font-weight: 100">
                   Enter your name to start powerplanning
      </h3>

      <form class="tst1" action="" method="Post">

        <input type = "text" placeholder = "Name" name = "username">
        <input type = "submit" value = "Make Schedule">

      </form>

      <br><br>
 </div>

<br>
<div class="tst1">
<a href = "/about" style = "color: white; text-align: center; font-family: Helvetica Neue; font-size: 1em; font-weight: 100; margin-left: 15px"> About Us </a>
</div>

<footer style = "font-size: 1.5em;
                  font-family: Helvetica Neue;
                  font-weight: 200;
                  color: White"> 
  <br>
  &copy sync 2015 
</footer>

  </body>
</html>

