{% extends "base.html" %}

{% block content %}

<body style = "background-color: #1F3D5C">
    <br>
    <h1 style = "background-color: #1F3D5C;
                 color: white;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 3em;
                 font-weight: 100">
                 powerplan
    </h1>
    <h2 style = "background-color: #1F3D5C;
                 color: white;
                 text-align: center;
                 font-family: Helvetica Neue;
                 font-size: 1.5em;
                 font-weight: 200">
                 You Are Ready To Add This Class
                 <br><br>
    </h2>

<div style = "background-color: #fff;
              color: #1F3D5C;
              text-align: center;
              font-family: Helvetica Neue;
              font-size: 1.2em;
              font-weight: 200">
<br>
<a href="/terms/term_code={{termCode}}/school={{schoolName}}/subject={{subjectName}}/catalog_num={{catalogNumber}}/section_num={{sectionNumber}}/addClass">
    Add Class 
</a>
    <div style = "margin-left: 40px;
                  font-size: 1.0em;
                  font-weight: 400;
                  color: #6495ED">
<br>
{% if professorQuality != "N/A" %}
    {% if professorGPA != "N/A" %}
        This first instructor's overall quality is {{professorQuality}} out of 5.0, and average grade given is an "{{professorGPA}}" according to ratemyprofessor 
    {% endif %}
{% endif %}

{% if professorQuality1 != "N/A" %}
    {% if professorGPA1 != "N/A" %}
        This instructor's overall quality is {{professorQuality1}} out of 5.0, and average grade given is an "{{professorGPA1}}" according to ratemyprofessor 
    {% endif %}
{% endif %}


{% if professorQuality1 == "N/A" %}
    {% if professorQuality == "N/A" %}
        {% if professorGPA1 == "N/A" %}
            {% if professorGPA == "N/A" %}
                RateMyProfessor Information Temporarily Unavailable
                {%endif%}
            {%endif%}
        {%endif%}
    {%endif%}
</div>

<br><br>
<div style = "text-align: left; margin-left: 150px">

      {%if A != "N/A"%}
        <div id = "map" style = "float: right">
            <iframe
              width="450"
              height="250"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAStxqy337iirX13aMv5WWakMqRGssfhCo&q={{A.replace(' ', '+')}}">
            </iframe>
        </div>
    {%endif%}

    <h3 style = "font-size: 1.5em; font-weight: 200">Section Information:</h3>

    {% for meeting in meetings %}
        <p>
        Instructor Name:   {{ meeting['InstructorName'] }}<br>
        Times:             {{ meeting['Times'] }}<br>
        Days:              {{ meeting['Days'] }}<br>
        Location:          {{ meeting['Location'] }}<br>
    {% endfor%}

    Enrollment Status:        {{ sectionDetails['EnrollmentStatus'] }}<br>
    Academic Group:           {{ sectionDetails['Acad_Group'] }}<br>
    Section Type:             {{ sectionDetails['SectionType'] }}<br>
    Enrollment Capacity:      {{ sectionDetails['EnrollmentCapacity'] }}

    <br><br>

    <div style = "margin-left: 100px;
                  font-size: 1.0em;
                  font-weight: 400;
                  color: #85D6FF">
{% if p != "N/A" %}
    <p> Here is what past students say about the first instructor according to uloop.com: </p> <br><br> 
    <ul style = "list-style-type: disc">
    {% for line in p %}
        <li>"{{line}}..." </li>
    {% endfor %}
    </ul>
{% endif %}


{% if q != "N/A" %}
    Here is what past students say about the instructor according to uloop.com: <br><br>
    <ul> 
    {% for line in q %}
        <li> "{{line}}..." </li>
        <br>
    {% endfor %}
{% endif %}

{% if p == "N/A" %}
    {% if q == "N/A" %}
        Uloop.com Information Temporarily Unavailable 
        {%endif%}
    {%endif%}
    <br><br>
</div>


</div>

</div>

<footer style = "font-size: 1.5em;
                  font-family: Helvetica Neue;
                  font-weight: 200;
                  color: White"> 
  <br>
  &copy sync 2015 
</footer>
<br><br><br><br>

</body>

{% endblock %}
